.main {
  width: 960px;
  margin: 0 auto;
}
.aside {
  float: left;
  position: fixed;
  width: 240px;
  background: #f5f7f9;
  box-shadow: none;
  box-sizing: border-box;
  color: #555;
  background: #fff;
  border-radius: initial;
}
.inner {
  float: right;
  box-sizing: border-box;
  padding: 40px;
  width: 700px;
  background: #fff;
  min-height: 700px;
  box-shadow: initial;
  border-radius: initial;

  .noteList {
    margin: 0;
    padding: 0;
    list-style: none;
    .note {
      position: relative;
      width: 100%;
      margin: 0 0 15px;
      padding: 15px 2px 20px 0;
      border-bottom: 1px solid #f0f0f0;
      word-wrap: break-word;
      min-height: 100px;
      line-height: 20px;
      .content {
        .title {
          font-family: "-apple-system", "SF UI Display", "Arial", "PingFang SC",
            "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",
            sans-serif;
          margin: -7px 0 4px;
          color: #969696;
          display: inherit;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.5;
          cursor: pointer;
        }
        .abstract {
          margin: 0 0 8px;
          font-size: 13px;
          line-height: 24px;
          color: #999;
        }
        .meta {
          padding-right: 0 !important;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          a {
            margin-right: 10px;
            color: #b4b4b4;
          }
          .comments {
            &::before {
              content: "\E660";
            }
          }
          .like {
            &::before {
              content: "\E661";
            }
          }
        }
      }
    }
  }
}
.img {
  display: block;
  margin: 0 auto;
  padding: 2px;
  max-width: 120px;
  height: auto;
  border: 1px solid #eee;
}
.name {
  margin: 0;
  text-align: center;
  color: #222;
  font-weight: 600;
}
.description {
  margin-top: 0;
  text-align: center;
  font-size: 13px;
  color: #999;
}
.state {
  margin: 0 auto;
  text-align: center;

  a {
    display: inline-block;
    padding: 0 15px;
    span:first-child {
      display: block;
      text-align: center;
      color: inherit;
      font-weight: 600;
      font-size: 16px;
    }
    span:last-child {
      font-size: 13px;
      color: #999;
      cursor: pointer;
    }
  }
}
